@import "tailwindcss";


.container{
 max-width: 1300px;
 margin:auto;
 border:1px solid black;
}


.bg-color{

    background-color: #1f232d;

}

.btn-color{
   color: #2fe1e5;
}

.image-size{
width:  500px;
}

.card-size{
width: 350px;
height: 250px;
}
 